<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    {% csrf_token %}
    <style type="text/css">

        .link {
            fill: none;
            stroke-width: 0.8px;
        }

        input[type=text], select {
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: #fffcfc;
            color: black;
            text-align: center;
        }
        input[type=button] {
            width: 80px;
            background-color: #abd0bc;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type=button]:hover {
            background-color: #abd0bc;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://rb20.kimsq.co.kr/rb2/layouts/default/assets/ico/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>

    <title>Ontology Visualizing</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <!-- Bootstrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="http://d3js.org/d3.v4.min.js" type="text/javascript"></script>
    <script src="http://d3js.org/d3-selection-multi.v1.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>

<body>
<div class="container-fluid" style="height: 800px; margin-top: 10px">
    <div class="col-lg-12">
        <div class="panel" style="height: 800px; border:1px solid #37474f">
            <div class="panel-heading" style="text-align: center; background-color: #37474f;">
                <div style="float: left;">
                    <a onclick="drawGraph()" style="cursor: pointer; color: white;" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight=''">FileLoad</a>
                    <a onclick="exp()" style=" margin-left:20px; cursor: pointer; color: white;" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight=''">Export</a>
                </div>
                <div style="margin-left: 70%;">
                    <div style="float: top">
                        <input type="text" id="threshold" style="width: 70px;" placeholder="threshold">
                        <input type="text" id="targetProperty" style="width: 150px;" placeholder="targetProperty" value="coworker">
                        <a onclick="targetProperty()" style="cursor: pointer; color: white;" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight=''">Search</a>
                        <a onclick="runEngine()" style="margin-left: 20px; cursor: pointer; color: white;" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight=''">Reasoning</a>
                    </div>

                    <div class="w3-dropdown-hover" style="float: bottom">
                        <a style="margin-left: 20px;cursor: pointer; color: white;" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight=''">Depth</a>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                            <a onclick="depth(0)" class="w3-bar-item w3-button">0</a>
                            <a onclick="depth(1)" class="w3-bar-item w3-button">1</a>
                            <a onclick="depth(2)" class="w3-bar-item w3-button">2</a>
                            <a onclick="depth(3)" class="w3-bar-item w3-button">3</a>
                            <a onclick="depth(4)" class="w3-bar-item w3-button">4</a>
                            <a onclick="depth(5)" class="w3-bar-item w3-button">5</a>
                        </div>

                    </div>
                    <a onclick="inferredOnly()" style="margin-left: 20px; cursor: pointer; color: white;" onmouseover="this.style.fontWeight='bold'" onmouseout="this.style.fontWeight=''">Inferred Only</a>
                </div>
            </div>

            <div class="panel-body" id="svgArea" style=" text-align: center; margin-left: 0px; padding: 0px; float: left; width: 100%;">
                <svg width="1635" height="750" onclick="reset();">
                    <div style="border:1px solid #37474f; float: right; width: 25%; height: 500px; overflow:auto; padding: 10px;margin-top: -45.8%; margin-right: 0.2%; text-align: left; " id="stat"></div>
                </svg>
            </div>
        </div>
    </div>
</div>



</body>



<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

<script type="text/javascript">
    var linkList_org, nodeList_org; // 로드파일로 로드된 처음 데이터이자 노드 추가또는 삭제로 업데이트된 데이터
    var linkList, nodeList;
    var flag = 0;   // flag가 1이면 파일로드 2이면 업데이트된 리스트로 draw
    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");
    var targetP = null;
    var targetE = null;
    var delProperty = null;
    var del_target = null;
    var befor_len = 0;
    var befor_nodeLen = 0;
    var c = 0;
    var targetP_addSourceList = new Array();
    var targetP_targetList = new Array();
    var clickCnt = 0;
    var selN = null;
    var reasoningOutput = new Array();
    var div = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);
    var nodeTooltip = d3.select("body").append("div")
        .attr("class", "tooltip");
    function dataSel() {
        g.selectAll("*").remove();    // svg 초기화
        if(flag==1){
            $.get("{% static 'data/displayData.json' %}", {
            }).done(function(data){
                linkList_org = data["links"];
                nodeList_org = data["nodes"];

                linkList = JSON.parse(JSON.stringify(linkList_org));
                nodeList = JSON.parse(JSON.stringify(nodeList_org));
                //console.log(nodeList.length);
                //console.log(nodeList);
                $('#stat').append("=== KG Information ===").append("<br>").scrollTop($("#stat")[0].scrollHeight);
                $('#stat').append("# of Triples : "+linkList.length).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                $('#stat').append("# of Entities : "+nodeList.length).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                draw(linkList, nodeList, 0);
            }).fail(function(data){
                console.log("Fail to load\nError code: "+ data);
            });
        }else if(flag==2){
            draw(linkList, nodeList, 0);
        }
    }

    var g = svg.append("g");
    var zoom = d3.zoom()
        .scaleExtent([1 / 10, 30])
        .on("zoom", () => {
            g.attr("transform", d3.event.transform )
        });

    flag = 0;
    svg.append('defs').append('marker')
        .attrs({'id':'arrowhead',
            'class':'arrow',
            'viewBox':'-0 -5 10 10',
            'refX':28,  // 화살표 위치
            'refY':-1.9,
            'orient':'auto',
            'markerWidth':10,
            'markerHeight':5,
            'xoverflow':'visible'})
        .append('svg:path')
        .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
        .attr('fill', '#5d5d5d')
        .style('stroke','none');


    svg.call(zoom);
    svg.call(zoom.transform, d3.zoomIdentity.translate(width/2, height/2).scale(0.1));
    svg

    function reset(){
        selN.style("fill-opacity", 0.3);
        selN.style("fill","white");
        nodeTooltip.transition()
                        .duration(500)
                        .style("opacity", 0);
    }

    function draw(links, nodes){    // svg에 link와 node 그리기

        var simulation = d3.forceSimulation(nodes)
            .force("link", d3.forceLink(links).id(function (d) {return d.id;}))
            .force("charge", d3.forceManyBody().strength(-500))
            .force("center", d3.forceCenter(width / 2, height / 2))
            .force("collide", d3.forceCollide().radius(12))
            .force("x", d3.forceX())
            .force("y", d3.forceY());
        update();

        function update() {

            link = g.selectAll(".link")
                .data(links)
                .enter()
                .append("path")
                .attr("class", "link")
                .attr("id", function (d) {return d.type})
                .attr('marker-end','url(#arrowhead)');

            edgepaths = g.selectAll(".edgepath")
                .data(links)
                .enter()
                .append('path')
                .attrs({
                    'class': 'edgepath',
                    'fill-opacity': 0,
                    'stroke-opacity': 0,
                    'id': function (d, i) {return 'edgepath' + i}
                })
                .style("pointer-events", "none");


            edgelabels = g.selectAll(".edgelabel")
            //.data(links)
                .enter()
                .append('text')
                .style("pointer-events", "none")
                .attrs({
                    'class': 'edgelabel',
                    'id': function (d, i) {return 'edgelabel' + i},
                    'font-size': 5,
                    'dy' : 6,
                    'fill': '#aaa',
                    'opacity':0.5
                });

            edgelabels.append('textPath')
                .attr('xlink:href', function (d, i) {return '#edgepath' + i})
                .style("text-anchor", "middle")
                .style("pointer-events", "none")
                .attr("startOffset", "50%")
                .text(function (d) {return d.type});

            node = g.selectAll(".node")
                .data(nodes)
                .enter()
                .append("g")
                .attr("id", function(d){return d.name})
                .attr("class", "node")
                .call(d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended)
                )
                .on("mouseout", function(d) {
                    div.transition()
                        .duration(500)
                        .style("opacity", 0);
                })
                .on("contextmenu", function(d){
                    d3.event.preventDefault();
                    {% comment %}targetE = d.name;
                    $.ajax({
                        url: "/ontologyDemo/objectReasoning/",
                        dataType: 'json',
                        type: 'POST',
                        data: {object: targetE, threshold: $('#threshold').val()},
                        success: function (result) {
                            $('#stat').append("=== Reasoning Result :",result.length,"===").append("<br>").scrollTop($("#stat")[0].scrollHeight);
                            for(var i=0; i<result.length; i++){
                                $('#stat').append("&#60;"+result[i][0]+", "+result[i][1]+", "+result[i][2]+"&#62; : "+result[i][3]).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                            }
                            flag = 1;
                            dataSel();
                        }
                    });
                    $('#threshold').val('');{% endcomment %}



                    selN = d3.select(this);
                    var tmpText = null;
                    for(var i=0; i<reasoningOutput.length; i++){
                        var tmpString = null;
                        if((selN['_groups'][0][0]['id'] == reasoningOutput[i][0]) || (selN['_groups'][0][0]['id'] == reasoningOutput[i][2])){
                            tmpString = reasoningOutput[i];
                            if(tmpText == null){
                                tmpText = tmpString;
                            }else{
                                tmpText = tmpText+"<br>"+tmpString;
                            }
                        }
                    }
                    selN.style("fill-opacity",1)
                        .style("fill","black");
                    nodeTooltip.transition()
                        .duration(200)
                        .style("opacity", 1)
                        .style("background-color", "orange");
                    nodeTooltip.html(tmpText)
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY + 25) + "px");
                });


            node.append("text")
                .attr("id", "textColor")
                .attr("dy", function(d){
                    if((targetP_targetList.indexOf(d.name) != -1)){
                        return 12;
                    }else{
                        return 12;
                    }
                })  // node label 위치
                .attr("dx", function(d){
                    if((targetP_targetList.indexOf(d.name) != -1)){
                        return -8;
                    }else{
                        return -8;
                    }
                })
                .attr("font-size", function(d){
                    if((targetP_targetList.indexOf(d.name) != -1)){
                        return 8;
                    }else{
                        return 8;
                    }
                }) // node 글씨크기
                .text(function (d) {return d.name;});

            arrow = svg.selectAll(".arrow");


            node.style("fill", "white");
                node.style("stroke-opacity", 0.3);
                node.style("fill-opacity", 0.3);
                link.style("stroke-opacity", 0.7);
                link.style("stroke", function(d){
                    if(befor_len > 0){
                        if(d.index < befor_len){
                            return "#aaa"
                        }else {
                            return "#aa0914"
                        }
                    }else{
                        return "#aaa"
                    }
                });
                node.append("circle")
                    .attr("r", 8)
                    .style("fill", '#000000')
                    .on("click", mouseOver(.3));
            {% comment %}if(targetP == null){
                node.style("fill", "white");
                node.style("stroke-opacity", 0.3);
                node.style("fill-opacity", 0.3);
                link.style("stroke-opacity", 0.7);
                link.style("stroke", "#333333");
                node.append("circle")
                    .attr("r", 8)
                    .style("fill", '#000000')
                    .on("click", mouseOver(.3));
                //.on("mouseout", mouseO  ut);
            }else {
                node.style("stroke-opacity", 1);
                //node.style("fill-opacity", 1);
                node.style("fill-opacity", function(d){
                    if(targetP_targetList.length != 0){
                        if((targetP_addSourceList.indexOf(d.name) != -1) || (targetP_targetList.indexOf(d.name) != -1)){
                            return 1;
                        }else{
                            return 0.1;
                        }
                    }else{
                        return 1;
                    }
                });
                link.style("stroke-opacity", 1);
                node.append("circle")
                    .attr("r", 8);
            }{% endcomment %}

            simulation
                .nodes(nodes)
                .on("tick", ticked);

            simulation.force("link")
                .links(links);

            simulation.alpha(1).restart();
        }
        var linkedByIndex = {};
        links.forEach(function(d) {
            linkedByIndex[d.source.index + "," + d.target.index] = 1;
        });

        // check the dictionary to see if nodes are linked
        function isConnected(a, b) {
            return linkedByIndex[a.index + "," + b.index] || linkedByIndex[b.index + "," + a.index] || a.index == b.index;
        }

        // fade nodes on hover
        function mouseOver(opacity) {
            return function(d) {
                clickCnt = clickCnt+1;
                if(clickCnt%2==0){
                    // check all other nodes to see if they're connected
                    // to this one. if so, keep the opacity at 1, otherwise
                    // fade
                    node.style("fill", function(o) {
                        if(isConnected(d, o)){
                            console.log("ok!")
                            return "black";
                        }else {return "white"}
                    });

                    node.style("stroke-opacity", function(o) {
                        thisOpacity = isConnected(d, o) ? 1 : opacity;
                        //console.log("tttt"+thisOpacity);
                        return thisOpacity;
                    });
                    node.style("fill-opacity", function(o) {
                        thisOpacity = isConnected(d, o) ? 1 : opacity;
                        return thisOpacity;
                    });
                    // also style link accordingly
                    link.style("stroke-opacity", function(o) {
                        return o.source === d || o.target === d ? 1 : opacity;
                    });
                    {% comment %}link.style("stroke", function(o){
                        return o.source === d || o.target === d ? o.source.color : "#aaa";
                    });{% endcomment %}
                    edgelabels = g.selectAll(".edgelabel")
                }else{
                    node.style("fill", "white");
                    node.style("stroke-opacity", 0.3);
                    node.style("fill-opacity", 0.3);
                    link.style("stroke-opacity", 0.7);
                    //link.style("stroke", "#aaa");
                }
                console.log('test'+clickCnt);


            };
        }

        function mouseOut() {
            node.style("stroke-opacity", 0.3);
            node.style("fill-opacity", 0.3);
            link.style("stroke-opacity", 0.7);
            link.style("stroke", "#aaa");
        }

        function ticked() {
            link
                .attr("d", positionLink)
                .attr("x1", function (d) {return d.source.x;})
                .attr("y1", function (d) {return d.source.y;})
                .attr("x2", function (d) {return d.target.x;})
                .attr("y2", function (d) {return d.target.y;})
                .attr("stroke", function (d) {
                    if(befor_len > 0){
                        if(d.index < befor_len){
                            return "#aaa"
                        }else {
                            return "#aa0914"
                        }
                    }else{
                        return "#aaa"
                    }

                    {% comment %}if(befor_len > 0){
                        if(d.index < befor_len){
                            if(d.type == targetP){
                                return "#2e68cc"
                            }else{
                                return "#aaa"
                            }
                        }else {
                            return "#aa0914"
                        }
                    }else if(d.type == targetP){
                        return "#2e68cc"
                    }else{
                        return "#aaa"
                    }{% endcomment %}
                })
                .attr("stroke-width", 2)
                .on("mouseover", function(d) {
                    div.transition()
                        .duration(200)
                        .style("opacity", .9);
                    div.html(d.type)
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY - 28) + "px");
                })
                .on("mouseout", function(d) {
                    div.transition()
                        .duration(500)
                        .style("opacity", 0);
                })
                .on("click", function(d, i){
                    del_target = d3.select(this);
                    delProperty = del_target['_groups'][0][0]['__data__']['type']
                    c = c+1;
                    if(c == 1){
                        del_target.style("stroke", "#d05642").style("stroke-dasharray",1.5);
                    }else{
                        var test=['eeeee','brandon_morrow','abc', 5];
                        console.log(d.source['name'])
                        var source = d.source['name'].split(',').toString();
                        console.log(source)
                        if(d.source['name'] in test){
                            console.log("good1")
                        }
                        if(source in test){
                            console.log("good2")
                        }
                        if(5 in test){
                            console.log("good3")
                        }
                        var link = d.type;
                        var target = d.target['name'].split(',').toString();

                        del_target.style("stroke", "#5d5d5d").style("stroke-dasharray",0.5);
                        $.ajax({
                            url: "/ontologyDemo/delTriple/",
                            dataType: 'html',
                            type: 'POST',
                            data: {subject: source, property: link, object: target},
                            success: function (result) {
                                if(result!="False"){
                                    console.log("success");
                                    $('#stat').append("=== Delete Triple ===").append("<br>").scrollTop($("#stat")[0].scrollHeight);
                                    $('#stat').append("subject : "+source).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                                    $('#stat').append("property : "+link).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                                    $('#stat').append("object : "+target).append("<br><br>").scrollTop($("#stat")[0].scrollHeight);
                                    //flag = 1;
                                    //dataSel();
                                }else {
                                    console.log("no search list");
                                }
                            }
                        });
                        //c = 0;
                    }
                });

            node.attr("transform", function (d) {return "translate(" + d.x + ", " + d.y + ")";});

            edgepaths.attr('d', function (d) {
                return 'M ' + d.source.x + ' ' + d.source.y + ' L ' + d.target.x + ' ' + d.target.y;
            });

            edgelabels.attr('transform', function (d) {
                if (d.target.x < d.source.x) {
                    var bbox = this.getBBox();

                    rx = bbox.x + bbox.width / 2;
                    ry = bbox.y + bbox.height / 2;
                    return 'rotate(180 ' + rx + ' ' + ry + ')';
                }
                else {
                    return 'rotate(0)';
                }
            });

            function positionLink(d) {
                var offset = 30;

                var midpoint_x = (d.source.x + d.target.x) / 2;
                var midpoint_y = (d.source.y + d.target.y) / 2;

                var dx = (d.target.x - d.source.x);
                var dy = (d.target.y - d.source.y);

                var normalise = Math.sqrt((dx * dx) + (dy * dy));

                var offSetX = midpoint_x + offset*(dy/normalise);
                var offSetY = midpoint_y - offset*(dx/normalise);

                return "M" + d.source.x + "," + d.source.y +
                    "S" + offSetX + "," + offSetY +
                    " " + d.target.x + "," + d.target.y;
            }
        }

        function dragstarted(d) {
            if (!d3.event.active) simulation.alphaTarget(.03).restart()
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(d) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
        }
        function dragended(d) {
            if (!d3.event.active) simulation.alphaTarget(.03);
            d.fx = null;
            d.fy = null;
        }
    }
    function drawGraph() {  // file Load버튼 누를때 ajax를 통해 python 코드로 연결 (owl파일 읽어서 json파일로 processing)
        $.ajax({
            url: "/ontologyDemo/graph/",
            dataType: 'html',
            type: 'POST',
            success: function (result) {
                if(result!="False"){
                    console.log("success");
                    flag = 1;
                    dataSel();
                }else {
                    console.log("Select File!");
                }
            }
        });
    }
    function exp() {
        {% comment %}$.ajax({
            url: "/ontologyDemo/exp/",
            dataType: 'html',
            type: 'POST',
            success: function (result) {
                console.log(result);
            }
        });{% endcomment %}
    }
    var prevC = 0;
    function depth(n) {
        $.ajax({
            url: "/ontologyDemo/depth/",
            dataType: 'json',
            type: 'POST',
            data: {n : n},
            success: function (result) {
                $('#stat').append("----------------------------").append("<br>").scrollTop($("#stat")[0].scrollHeight);
                $('#stat').append("Depth "+result[0]).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                $('#stat').append("# of Added Triples : "+ ((Number(result[1]) - prevC))).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                $('#stat').append("# of Total Triples : "+result[1]).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                $('#stat').append("----------------------------").append("<br><br>").scrollTop($("#stat")[0].scrollHeight);
                //alert(result);
                prevC = Number(result[1]);
                flag = 1;
                dataSel();
            }
        });
    }
    {% comment nell 기준%}function targetProperty() {
        targetP = $('#targetProperty').val();
        $.ajax({
            url: "/ontologyDemo/targetProperty/",
            dataType: 'json',
            type: 'POST',
            data: {targetProperty: $('#targetProperty').val()},
            success: function (result) {
                targetP_addSourceList = [];
                targetP_targetList = [];
                for(var i=0; i<result.length; i++){
                    targetP_addSourceList.push(result[i][0]);
                    targetP_targetList.push(result[i][2]);
                    targetP_targetList = Array.from(new Set(targetP_targetList)); //중복요소 제거
                }
                $('#stat').append("targetProperty : "+$('#targetProperty').val()).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                flag = 1;
                dataSel();
            }
        });

        $.ajax({
            url: "/ontologyDemo/depth/",
            dataType: 'json',
            type: 'POST',
            data: {n : 0},
            success: function (result) {
                prevC = Number(result[1]);
                $('#stat').append("# of Target Triples : "+prevC).append("<br><br>").scrollTop($("#stat")[0].scrollHeight);
            }
        });
    }{% endcomment %}

    function targetProperty(d) {
        targetP = $('#targetProperty').val();
        flag = 1;
        dataSel();
        {#link_org = g.selectAll('.link');#}
        {#link_org.style("stroke", "#1736cc");#}
        {#link = g.selectAll("#"+targetP);#}
        {#console.log(link);#}
        {#link.style("stroke", "#cc120e");#}

    }

    function runEngine(){
        targetP = $('#targetProperty').val();
        if(delProperty != null){
            $.ajax({
                url: "/ontologyDemo/runEngine/",
                dataType: 'json',
                type: 'POST',
                data: {delProperty: delProperty},
                success: function (result) {
                    $('#stat').append("Number of Inferred Triples : "+result.length).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                    for(var i=0; i<result.length; i++){
                        $('#stat').append("=== "+result[i][3]+" ===").append("<br>").scrollTop($("#stat")[0].scrollHeight);
                        $('#stat').append("subject: "+result[i][0]).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                        $('#stat').append("property: "+result[i][1]).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                        $('#stat').append("object: "+result[i][2]).append("<br><br>").scrollTop($("#stat")[0].scrollHeight);
                        c = 0;
                        del_target.style("stroke", "#2f5baf").style("stroke-dasharray",5);
                    }
                    //flag = 1;
                    //dataSel()
                }
            });
            delProperty = null;
        }else{
            {% comment nell기준 %}$.ajax({
                url: "/ontologyDemo/relationReasoning/",
                dataType: 'json',
                type: 'POST',
                data: {relation: targetP, threshold: $('#threshold').val() },
                success: function (result) {
                    targetP_addSourceList = [];
                    targetP_targetList = [];
                    befor_len = linkList.length;
                    befor_nodeLen = nodeList.length;
                    for(var i=0; i<result.length; i++){
                        targetP_addSourceList.push(result[i][0]);
                        targetP_targetList.push(result[i][2]);
                        targetP_targetList = Array.from(new Set(targetP_targetList)); //중복요소 제거
                    }
                    console.log(targetP_addSourceList);
                    console.log(targetP_targetList);
                    $('#stat').append("=== "+targetP+"reasoning: "+result.length+" ===").append("<br>").scrollTop($("#stat")[0].scrollHeight);
                    $('#stat').append("threshold: "+$('#threshold').val()).append("<br>").scrollTop($("#stat")[0].scrollHeight);
                    flag = 1;
                    dataSel()
                }
            });{% endcomment %}



            $.ajax({
                url: "/ontologyDemo/movieReasoning/",
                dataType: 'json',
                type: 'POST',
                data: {relation: $('#targetProperty').val(), threshold: $('#threshold').val() },
                success: function (result) {
                    reasoningOutput = result;
                    befor_len = linkList.length;
                    flag = 1;
                    dataSel()
                }
            });

        }
    }
    var test_c = 0;
    function inferredOnly(){
        test_c=test_c+1;
        $.ajax({
            url: "/ontologyDemo/inferredOnly/",
            dataType: 'json',
            type: 'POST',
            data: {count: test_c},
            success: function (result) {
                flag = 1;
                dataSel()
            }
        });
    }

    function test_t(){
        var tmp_linkList = JSON.parse(JSON.stringify(linkList));
        var tmp_nodeList = JSON.parse(JSON.stringify(nodeList));
        linkList = [];
        nodeList = [];
        console.log(linkList);
        console.log(nodeList);
        for(var i=0; i<tmp_linkList.length; i++){
            for(var j=0; j<targetP_addSourceList.length; j++){
                if(tmp_linkList[i]['source']['name'] == targetP_addSourceList[j]){
                    linkList.push(tmp_linkList[i]);
                }
            }
        }
        for(var i=0; i<tmp_nodeList.length; i++){
            for(var j=0; j<targetP_addSourceList.length; j++){
                if(tmp_nodeList[i]['name'] == targetP_addSourceList[j]){
                    nodeList.push(tmp_nodeList[i]);
                }
            }
            for(var j=0; j<targetP_targetList.length; j++){
                if(tmp_nodeList[i]['name'] == targetP_targetList[j]){
                    nodeList.push(tmp_nodeList[i]);
                }
            }
        }

        console.log(linkList);
        console.log(nodeList);
        flag = 2;
        dataSel()
    }
</script>
</html>