<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    {% csrf_token %}
    <style type="text/css">
        .node {}

        .link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }
        input[type=text], select {
            width: 100px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: #fffcfc;
            color: black;
            text-align: center;
        }
        input[type=button] {
            width: 70px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type=button]:hover {
            background-color: #45a049;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://rb20.kimsq.co.kr/rb2/layouts/default/assets/ico/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>

    <title>Ontology Visualizing</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <!-- Bootstrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="http://d3js.org/d3.v4.min.js" type="text/javascript"></script>
    <script src="http://d3js.org/d3-selection-multi.v1.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>

<body>
<div class="container-fluid" style="height: 920px; margin-top: 10px">
    <div class="col-lg-12">
        <div class="panel panel-primary" style="height: 920px;">
            <div class="panel-heading" style="text-align: center;">
                <div style="float: left;">
                    <input type="button" value="FileLoad" onclick="drawGraph()">
                    <input type="button" value="Export" onclick="exp()">
                </div>
                <div style="margin-right: -60%">
                    <input type="text" id="source" placeholder="Subject">
                    <input type="text" id="target" placeholder="Object">
                    <input type="text" id="link" placeholder="Property">
                    <input type="button" value="ADD" onclick="run('link')">
                    <input type="text" id="delNode" placeholder="Node">
                    <input type="button" value="DEL" onclick="run('delNode')">
                </div>
                <div style="margin-right: -84.8%; margin-top: 1%;">
                    <input type="text" id="targetProperty" placeholder="targetProperty">
                    <input type="button" value="SELECT" onclick="targetProperty()">

                    <div class="w3-dropdown-hover">
                        <input type="button" value="depth">
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                            <a onclick="depth(1)" class="w3-bar-item w3-button">1</a>
                            <a onclick="depth(2)" class="w3-bar-item w3-button">2</a>
                            <a onclick="depth(3)" class="w3-bar-item w3-button">3</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="height: 840px; text-align: center; margin-left: 0px; padding: 0px;">
                <svg width="1860" height="830" style="{% comment %}border:1px solid red;{% endcomment %}"></svg>
            </div>
        </div>
    </div>
</div>



</body>



<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

<script type="text/javascript">
    var linkList_org, nodeList_org; // 로드파일로 로드된 처음 데이터이자 노드 추가또는 삭제로 업데이트된 데이터
    var linkList, nodeList;
    var flag = 0;   // flag가 1이면 파일로드 2이면 업데이트된 리스트로 draw
    var colors = d3.scaleOrdinal(d3.schemeCategory10);
    var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");
    function dataSel() {
        g.selectAll("*").remove();    // svg 초기화
        if(flag==1){
            $.get("{% static 'js/list.json' %}", {
            }).done(function(data){
                linkList_org = data["links"];
                nodeList_org = data["nodes"];
                console.log("linklen"+linkList_org.length);
                linkList = JSON.parse(JSON.stringify(linkList_org));
                nodeList = JSON.parse(JSON.stringify(nodeList_org));
                console.log(data);
                draw(linkList, nodeList);
            }).fail(function(data){
                console.log("Fail to load\nError code: "+ data);
            });
        }else if(flag==2){
            console.log("==============");
            console.log(linkList);
            console.log(nodeList);
            draw(linkList, nodeList);
        }
    }

    var g = svg.append("g");
    var zoom = d3.zoom()
        .scaleExtent([1 / 10, 30])
        .on("zoom", () => {
            g.attr("transform", d3.event.transform )
        });

    flag = 0;
    svg.append('defs').append('marker')
        .attrs({'id':'arrowhead',
            'viewBox':'-0 -5 10 10',
            'refX':24,  // 화살표 위치
            'refY':0,
            'orient':'auto',
            'markerWidth':5,
            'markerHeight':5,
            'xoverflow':'visible'})
        .append('svg:path')
        .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
        .attr('fill', '#999')
        .style('stroke','none');

    svg.call(zoom);
    svg.call(zoom.transform, d3.zoomIdentity.translate(width/2, height/2).scale(0.1));


    function draw(links, nodes){    // svg에 link와 node 그리기
        {% comment %}var simulation = d3.forceSimulation(nodes)
            .force("link", d3.forceLink(links).id(function (d) {return d.id;}))
            .force("collide",d3.forceCollide( function(d){return d.r + 8 }).iterations(16) )
            .force("charge", d3.forceManyBody().strength(-1000))
            .force("center", d3.forceCenter().x(width * .5).y(height * .5))
            .force("forceX", d3.forceX().strength(.1).x(width * .5))
            .force("forceY", d3.forceY().strength(.1).y(height * .5));{% endcomment %}

        var simulation = d3.forceSimulation(nodes)
            .force("link", d3.forceLink(links).id(function (d) {return d.id;}))
            .force("charge", d3.forceManyBody().strength(-500))
            .force("center", d3.forceCenter(width / 2, height / 2))
            .force("collide", d3.forceCollide().radius(12))
            .force("x", d3.forceX())
            .force("y", d3.forceY());

        {% comment %}var simulation = d3.forceSimulation(nodes)
            .force("charge", d3.forceManyBody().strength(-500))
            .force("link", d3.forceLink(links).id(function (d) {return d.id;}).distance(200))
            .force("x", d3.forceX())
            .force("y", d3.forceY())
            //.alphaTarget(1)
            .on("tick", ticked);{% endcomment %}


        update();
        function update() {
            link = g.selectAll(".link")
                .data(links)
                .enter()
                .append("line")
                .attr("class", "link")
                .attr('marker-end','url(#arrowhead)');

            link.append("title")
                .text(function (d) {return d.type;});

            edgepaths = g.selectAll(".edgepath")
                .data(links)
                .enter()
                .append('path')
                .attrs({
                    'class': 'edgepath',
                    'fill-opacity': 0,
                    'stroke-opacity': 0,
                    'id': function (d, i) {return 'edgepath' + i}
                })
                .style("pointer-events", "none");

            edgelabels = g.selectAll(".edgelabel")
                .data(links)
                .enter()
                .append('text')
                .style("pointer-events", "none")
                .attrs({
                    'class': 'edgelabel',
                    'id': function (d, i) {return 'edgelabel' + i},
                    'font-size': 8,
                    'fill': '#aaa'
                });

            edgelabels.append('textPath')
                .attr('xlink:href', function (d, i) {return '#edgepath' + i})
                .style("text-anchor", "middle")
                .style("pointer-events", "none")
                .attr("startOffset", "50%")
                .text(function (d) {return d.type});

            node = g.selectAll(".node")
                .data(nodes)
                .enter()
                .append("g")
                .attr("class", "node")
                .call(d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended)
                );

            node.append("circle")
                .attr("r", 8)
                .style("fill", function (d, i) {return colors(i);})

            node.append("title")
                .text(function (d) {return d.id;});

            node.append("text")
                .attr("dy", 12)  // node label 위치
                .attr("dx", -8)
                .attr("font-size", 8) // node 글씨크기
                .text(function (d) {return d.name;});

            simulation
                .nodes(nodes)
                .on("tick", ticked);

            simulation.force("link")
                .links(links);

            simulation.alpha(1).restart();

        }

        function ticked() {
            link
                .attr("x1", function (d) {return d.source.x;})
                .attr("y1", function (d) {return d.source.y;})
                .attr("x2", function (d) {return d.target.x;})
                .attr("y2", function (d) {return d.target.y;});

            node
                .attr("transform", function (d) {return "translate(" + d.x + ", " + d.y + ")";});

            edgepaths.attr('d', function (d) {
                return 'M ' + d.source.x + ' ' + d.source.y + ' L ' + d.target.x + ' ' + d.target.y;
            });

            edgelabels.attr('transform', function (d) {
                if (d.target.x < d.source.x) {
                    var bbox = this.getBBox();

                    rx = bbox.x + bbox.width / 2;
                    ry = bbox.y + bbox.height / 2;
                    return 'rotate(180 ' + rx + ' ' + ry + ')';
                }
                else {
                    return 'rotate(0)';
                }
            });
        }



        function dragstarted(d) {
            if (!d3.event.active) simulation.alphaTarget(.03).restart()
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(d) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
        }
        function dragended(d) {
            if (!d3.event.active) simulation.alphaTarget(.03);
            d.fx = null;
            d.fy = null;
            console.log(d.x);
        }
    }
    function drawGraph() {  // file Load버튼 누를때 ajax를 통해 python 코드로 연결 (owl파일 읽어서 json파일로 processing)
        $.ajax({
            url: "/ontologyDemo/graph/",
            dataType: 'html',
            type: 'POST',
            success: function (result) {
                console.log(result);
                if(result!="False"){
                    console.log("success");
                    flag = 1;
                    dataSel();
                }else {
                    console.log("Select File!");
                }
            }
        });
    }
    function run(type) {    // run버튼 누르면 노드와 링크 연결 source target link
        if(type == 'link'){
            var source,target;
            var source_c = 0;
            var target_c = 0;
            linking();
            function linking(){ // 노드리스트에 source target value값 탐색
                for(var i=0; i<nodeList.length; i++){
                    if(nodeList[i]['name']==$('#source').val()){
                        source = nodeList[i]['id'];
                        source_c = 1;
                    }
                    if(nodeList[i]['name']==$('#target').val()){
                        target = nodeList[i]['id'];
                        target_c = 1;
                    }
                }
            }
            console.log(source_c+target_c);
            if(source_c == 0){
                console.log("source_c0");
                nodeList.push({"name":$('#source').val(), "label":"","id":nodeList[nodeList.length-1]['id']+1});
                source_c = 1;
                linking();
            }
            if(target_c == 0){
                console.log("target_c0");
                nodeList.push({"name":$('#target').val(), "label":"","id":nodeList[nodeList.length-1]['id']+1});
                target_c = 1;
                linking();
            }
            if(source_c == 1 && target_c ==1){
                console.log("draw");
                console.log("blink");
                console.log(Object.values(linkList));
                linkList.push({"source" : source, "target" : target, "type" : $('#link').val()});
                console.log("alink");
                console.log(Object.values(linkList));
                flag = 2;
                dataSel();
            }

        }else if(type == 'delNode'){    // del버튼 누르면 노드 삭제
            var lLen = linkList.length;
            var nLen = nodeList.length;
            for(var i=0; i<lLen; i++){
                if(linkList[i]['source']['name']!=$('#delNode').val() && linkList[i]['target']['name']!=$('#delNode').val()){   // 삭제할 노드와 관련없는 링크만 탐색
                    linkList.push(linkList[i]); // 탐색된 링크 추가
                }
            }
            for(var i=0; i<nLen; i++){
                if(nodeList[i]['name']!=$('#delNode').val()){   // 삭제할 노드를 제외한 다른 노드들 탐색
                    nodeList.push(nodeList[i]); // 탐색된 노드들 추가
                }
            }
            for(var i=0; i<lLen; i++){
                linkList.shift();   // 링크리스트 앞에서부터 기존꺼 삭제
            }
            for(var i=0; i<nLen; i++){
                nodeList.shift();   // 노드리스트 앞에서부터 기존꺼 삭제
            }

            console.log("delLink");
            console.log(Object.values(linkList));
            console.log("delnode");
            console.log(Object.values(nodeList));
            flag = 2;
            dataSel();
        }
    }
    function exp() {
        $.ajax({
            url: "/ontologyDemo/exp/",
            dataType: 'html',
            type: 'POST',
            success: function (result) {
                console.log(result);
            }
        });
    }
    function depth(n) {
        $.ajax({
            url: "/ontologyDemo/depth/",
            dataType: 'html',
            type: 'POST',
            success: function (result) {
                alert(result);
            }
        });
    }
    function targetProperty() {
        //alert($('#targetProperty').val())
        $.ajax({
            url: "/ontologyDemo/targetProperty/",
            dataType: 'html',
            type: 'POST',
            data: {targetProperty: $('#targetProperty').val()},
            success: function (result) {
                if(result!="False"){
                    console.log("success");
                    flag = 1;
                    dataSel();
                }else {
                    console.log("no search list");
                }
            }
        });
    }
</script>
</html>