/*
HTML 문서 안에 엘리먼트를 선택적으로 꾸밀 수 있게 해줍니다.

셀렉터에는 여러 종류가 있는데, 이는 HTML 문서 안에 여러 선택을 만들 수 있게 해줍니다.

1. 엘리먼트 셀렉터
특정 타입의 모든 HTML 엘리먼트.
ex. p

2. 아이디 셀렉터
특정 아이디를 가진 페이지의 엘리먼트 (주어진 HTML 페이지에서, 아이디당 하나의 엘리먼트만 허용)
ex. #my-id <p id="my-id"> or <a id="my-id">를 선택

3. 클래스 셀렉터
특정 클래스를 가진 페이지의 엘리먼트 (한 페이지에서 클래스가 여러번 나타날 수 있음)
ex. .my-class < class="my-class"> 와 <a class="my-class">를 선택

4. 속성 셀렉터
특정 속성을 갖는 페이지의 엘리먼트
ex. img[src] <img src="myimage.png">를 선택하지만 <img>는 선택 안함

5. 수도(Pseudo) 클래스 셀렉터
특정 엘리먼트지만 특정 상태에 있을 때만, 예를 들면, hover over 상태일 때
ex. a:hover <a>를 선택하지만, 마우스 포인터가 링크위에 있을 때만 선택함함 */
p,li,h1 {
    color: red;
    width: 500px;
    border: 1px solid black;
}

/*
CSS 작성에서 중요한 것은 박스라는 개념.
페이지에 있는 대부분의 HTML 엘리먼트들은 서로의 위에 놓여있는 박스로 생각해볼 수 있음.

padding: 컨텐츠 주위의 공간 (예, 문단 글자의 주위)
border: padding의 바깥쪽에 놓인 실선
margin: 엘리먼트의 바깥쪽을 둘러싼 공간

여기서 다른 파라미터들도 설명 될 수 있음.
width: 한 엘리먼트의 너비
background-color: 엘리먼트의 컨텐츠와 Padding의 배경 색
color: 한 엘리먼트의 컨탠츠 색 (일반적으로는 글자색)
text-shadow: 한 요소 안의 글자에 그림자를 적용
display: 엘리먼트의 표시 형식을 설정
 */